{extend name="common/base" /}
<!-- 主体 -->
{block name="body"}
<div class="p-3">
	<table class="layui-hide" id="facial" lay-filter="facial"></table>
</div>
<script type="text/html" id="toolbarDemo">
  <div class="layui-btn-container">
  	<button class="layui-btn layui-btn-normal layui-btn-sm addNew" type="button">+ 添加面纸参数</button>
  </div>
</script>
{/block}
<!-- /主体 -->

<!-- 脚本 -->
{block name="script"}
<script>
	const moduleInit = ['tool'];
	function gouguInit() {
		var table = layui.table, tool = layui.tool;
		layui.pageTable = table.render({
			elem: '#facial'
			, toolbar: '#toolbarDemo'
			, title: '面纸参数列表'
			, url: "/admin/facial/index"
			, page: false //开启分页
			, cellMinWidth: 120
			, cols: [[
				{ field: 'id', width: 80, title: 'ID号', align: 'center' }
				, { field: 'title', title: '材质名称', width: 320, align: 'center' }
                , { field: 'square_price', title: '平方价' }
                , { field: 'ton_price', title: '吨价' }
				, {
					field: 'status', title: '状态', width: 80, align: 'center', templet: function (d) {
						var html1 = '<span>正常</span>';
						var html2 = '<span style="color:#FF5722">禁用</span>';
						if (d.status == 1) {
							return html1;
						}
						else {
							return html2;
						}
					}
				}
				, {
					width: 100, title: '操作', align: 'center', templet: function (d) {
						var html = '';
						var btn = '<a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>';
						var btn1 = '<a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="disable">禁用</a>';
						var btn2 = '<a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="open">启用</a>';
						if (d.status == 1) {
							html = '<div class="layui-btn-group">' + btn + btn1 + '</div>';
						}
						else {
							html = '<div class="layui-btn-group">' + btn + btn2 + '</div>';
						}
						return html;
					}
				}
			]]
		});

		table.on('tool(facial)', function (obj) {
			if (obj.event === 'edit') {
				addExpense(obj.data.id, obj.data.title, obj.data.square_price, obj.data.ton_price);
			}
			if (obj.event === 'disable') {
				layer.confirm('确定要禁用该参数吗?', { icon: 3, title: '提示' }, function (index) {
					let callback = function (e) {
						layer.msg(e.msg);
						if (e.code == 0) {
							layer.close(index);
							layui.pageTable.reload()
						}
					}
					tool.post("/admin/facial/disable", { id: obj.data.id, status: 0 }, callback);
					layer.close(index);
				});
			}
			if (obj.event === 'open') {
				layer.confirm('确定要启用该参数吗?', { icon: 3, title: '提示' }, function (index) {
					let callback = function (e) {
						layer.msg(e.msg);
						if (e.code == 0) {
							layer.close(index);
							layui.pageTable.reload()
						}
					}
					tool.post("/admin/facial/disable", { id: obj.data.id, status: 1 }, callback);
					layer.close(index);
				});
			}
		});

		$('body').on('click', '.addNew', function () {
			addExpense(0, '', '', '');
		});

		function addExpense(id, title, square_price, ton_price) {
			var biaoti = '新增参数';
			if (id > 0) {
				biaoti = '编辑参数';
			}

			layer.open({
				type: 1
				, title: biaoti
				, area: '512px;'
				, id: 'LAY_module' //设定一个id，防止重复弹出
				, btn: ['确定', '取消']
				, btnAlign: 'c'
				, content: '<div style="padding-top:15px;">\
								<div class="layui-form-item">\
								  <label class="layui-form-label">材质名称</label>\
								  <div class="layui-input-inline" style="width:360px;">\
									<input type="hidden" name="id" value="'+ id + '">\
									<input type="text" name="title" autocomplete="off" value="'+ title + '" placeholder="请输入材质名称" class="layui-input">\
								  </div>\
								</div>\
								<div class="layui-form-item">\
								  <label class="layui-form-label">平方价</label>\
								  <div class="layui-input-inline" style="width:360px;">\
									<input type="text" name="square_price" autocomplete="off" value="'+ square_price + '" placeholder="请输入平方价" class="layui-input">\
								  </div>\
								</div>\
								<div class="layui-form-item">\
								  <label class="layui-form-label">吨价</label>\
								  <div class="layui-input-inline" style="width:360px;">\
									<input type="text" name="ton_price" autocomplete="off" value="'+ ton_price + '" placeholder="请输入吨价" class="layui-input">\
								  </div>\
								</div>\
							  </div>'
				, yes: function (index) {
					let id = $('#LAY_module').find('[name="id"]').val();
					let title = $('#LAY_module').find('[name="title"]').val();
                    let square_price = $('#LAY_module').find('[name="square_price"]').val();
                    let ton_price = $('#LAY_module').find('[name="ton_price"]').val();
					let callback = function (e) {
						layer.msg(e.msg);
						if (e.code == 0) {
							if (e.code == 0) {
								layer.close(index);
								layui.pageTable.reload();
							}
						}
					}
					tool.post("/admin/facial/add", {
						id: id,
						title: title,
                        square_price: square_price,
                        ton_price: ton_price
					}, callback);
					return false;
				}
				, btn2: function () {
					layer.closeAll();
				}
			});
		}
	}
</script>
{/block}
<!-- /脚本 -->